<div class="container">
  <!-- Trigger the modal with a button -->
  <!--<button type="button" data-toggle="modal" data-target="#myModal">Open Modal</button> -->
  <img id="myImg" src="{{site.baseurl}}/assets/images/pnpbackground.jpg" data-toggle="modal" data-target="#myModal" width="300" height="200">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
          <img class="modal-content" src="{{site.baseurl}}/assets/images/pnpbackground.jpg" width="100%" alt="hello" >
            <div id="caption"></div>
  </div>  
</div>
