
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 
        col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-1">
        <h2 id="content-body-title" class="header-center"> When you can't be there... </h2>
    </div>
</div>
<div class="row">
    <div class="hidden-xl hidden-lg hidden-md hidden-sm col-xs-10 col-xs-offset-1">
        <p> If you’re anything like us, you have an incredible connection with your dogs and cats.When you’re out of town, you want to make sure they’re with someone who will love them just as much as you do. That’s why we started Frankies Paws And Play, to give you peace of mind while you're away
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-6 col-xl-offset-0 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-3">
        <img class="doggies" src="./assets/images/doggies.jpg"/>        
    </div>

    <div class="col-lg-5 col-md-5 col-sm-6 col-lg-offset-0 col-md-offset-0 col-offset-xs-0 hidden-xs">
        <p> If you’re anything like us, you have an incredible connection with your dogs and cats.When you’re out of town, you want to make sure they’re with someone who will love them just as much as you do. That’s why we started Frankies Paws And Play, to give you peace of mind while you're away
        </p>
    </div>
</div> <!-- subset row 2 -->
