
<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-10 col-xs-10
    col-lg-offset-0 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
        <div class="green-line"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-6 
    col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
        <div class="subcontent">
            <h3> Our Mission </h3>
            <p> Our mission is simple: To love and care for each and every animal just like we would want someone to take care of ours.
            </p>
        </div>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-6 
    col-lg-offset-2 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
        <div class="subcontent">
            <h3>Our Guarantee</h3>
            <p>We guarantee a well connected experience with you while you’re away. If anything happens, we’ll contact you immediately.
            </p>
        </div>
    </div>
</div>