.imagecontainer{
    width:100%;
    height: 100%;
    line-height: 0;
    position: absolute;
    overflow: hidden;
    margin: 0 auto;
    z-index: -1;

}

.photos-container {
    padding:50px;
}

.headertitle {
    padding-top: 0;
    margin-top: 0;
}

.navbar {
    border: 0;
}

.navbar-default .navbar-collapse {
    border: 0;
}

.ddm {
    position: absolute;
    right: 20px;
    z-index: 1;
    width: 100px;
    border-style: none;
}

.row-buffer {
    margin-top:60px;
}

#backgroundimage {
    width: 100%;
    max-width: 1200px;
    max-height: 600px;
    min-width: 700px;
    z-index: -1;
    left:20%;
    position: absolute;
    
}
#solidbackgroundimage {
    width: 100%; 
    max-height: 600px;
    min-width: 700px;
    position: absolute;
    z-index: -1;
}
#logoname {
    z-index: 1;
    display: block;
    line-height: 1em;
}

p {
    font-family: Verdana;
    font-size: 16px;
    color: #555555;
    line-height: 1.5;
    letter-spacing: .25px;
    text-rendering: optimizeLegibility;
}

h3, h2 {
    text-align: left;
    font-family: 'Kaushan Script',cursive;
    color: #88a158;
    font-weight: 600;
    
}

.header-center {
    text-align: center;
}

h1#title {
    font-family: 'Kaushan Script', cursive;
    font-size: calc(30px + 1.6vw);
    font-weight: 600;
    letter-spacing: -1px;
    line-height: .8;
    text-shadow: 0 0 15px #fff;
    color: #EE82EE;
    z-index: 2;
}
#subtitle {
    text-align: center;
    font-weight: bold;
    font-size:calc(12px + .4vw);
    color: #cc9900;;
    display: block;
    z-index: 3;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}


#navigation {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
    float: left;
    width: 200px;
    height: 275px;
    border-radius: 10px;
    border: solid 1px #dfffd6;
    background-color: #ebf7d6;

}

.doggies {
    width: 100%;
}

#navigation p {
    margin-left: 8px;
    margin-right: 8px;
}

.navlinks {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    padding: 4px;
    list-style-type: none;
    text-align: center;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    font-size: 22px;
    font-weight: 600;
    font-family: "Lato",sans-serif;
    color: #78345e;
    z-index: 1;
}

.navlinks:hover {
    background-color: #efffea;
    border-radius: 10px;
}

.green-line {
    margin-top: 15px;
    height: 5px;
    border: solid 1px #dfffd6;
    background-color: #ebf7d6;
    border-radius: 10px;
}

.footer {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 75px;
    border: solid 1px #dfffd6;
    background-color: #ebf7d6;
    border-radius: 10px;
}

a:hover, a:visited, a:active {
    text-decoration: none;
    z-index: 2;
}


