<html>
    <head>
        {%  include head.html%}
          <meta content="{{ page.title }} - {{ site.title }}" name="title" />
    </head>
    <body>
        <div class="imagecontainer">
            <img id="solidbackgroundimage" src="./assets/images/solidbackground.jpg"/>
            <img id="backgroundimage" src="./assets/images/pnpbackground.jpg"/>

        </div>
            
        <div class="container">
            <div class="ddm hidden-sm hidden-md hidden-lg hidden-xl">
                {% include hamburgerddm.html %}
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-7 col-xs-6 col-lg-offset-3 col-md-offset-4 col-sm-offset-3 col-xs-offset-5">
                    <div class="jumbotron headertitle" style="background:transparent !important" >
                            <h1 id="title" class="display-3">Frankies Paws And Play</h1>
                            <div class="hidden-xs">
                                <p id="subtitle"> Professional Pet Sitter </p>
                            </div>
                    </div>
                </div>
                <div class="hidden-xs">
                    {% include navigation.html %}
                </div>
            </div>
            {%  include foot.html %}
        </div>
    </body>
</html>