<html>
    <head>
        {%  include head.html%}
          <meta content="{{ page.title }} - {{ site.title }}" name="title" />
    </head>
    <body>
        <div class="imagecontainer">
            <img id="solidbackgroundimage" src="./assets/images/solidbackground.jpg"/>
            <img id="backgroundimage" src="./assets/images/pnpbackground.jpg"/>

        </div>
            
        <div class="container">
            <div class="ddm hidden-sm hidden-md hidden-lg hidden-xl">
                {% include hamburgerddm.html %}
            </div>
            <div class="grid">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-7 col-xs-6 col-lg-offset-3 col-md-offset-4 col-sm-offset-3 col-xs-offset-5">
                        <div class="jumbotron headertitle" style="background:transparent !important" >
                                <h1 id="title" class="display-3">Frankies Paws And Play</h1>
                                <div class="hidden-xs">
                                    <div id="subtitle"> Professional Pet Sitter </div>
                                </div>
                        </div>
                    </div>
                </div> <!-- row 1 -->
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-0">
                        <div class="hidden-xs">
                            {% include navigation.html %}
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12"> 
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 
                                col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-1">
                                <h2 id="content-body-title"> When you can't be there... </h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-6">
                                <img class="doggies" src="./assets/images/doggies.jpg"/>        
                            </div>

                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 col-lg-offset-1 col-md-offset-1">
                                <p> If you’re anything like us, you have an incredible connection with your dogs and cats.When you’re out of town, you want to make sure they’re with someone who will love them just as much as you do. That’s why we started Frankies Paws And Play, to give you peace of mind while you're away
                                </p>
                            </div>
                        </div> <!-- subset row 2 -->
                    </div>
                </div> <!-- row 2 -->
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <div class="hidden-xs">
                            {% include rates.html %}
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                        <div class="row">
                            <div class="col-lg-10 col-md-9 col-sm-10 col-xs-10
                            col-lg-offset-0 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                                <div class="green-line"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-6 
                            col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
                                {% include mission.html %}
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-6 
                            col-lg-offset-2 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                                {% include guarantee.html %}
                            </div>
                        </div>
                    </div>
                </div> <!-- row 3 -->
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <div class="hidden-lg hidden-md hidden-sm">
                            {% include rates.html %}
                        </div>
                    </div>
                </div> <!-- row 4 -->
                <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-xs footer">    
                </div> <!-- row 5 -->
            </div><!-- grid -->
            {%  include foot.html %}
        </div>
    </body>
</html>