<html>
    <head>
        {%  include head.html %}
          <meta content="{{ page.title }} - {{ site.title }}" name="title" />
        <title>{{site.title}} {% if page.title %} | {% endif %}{{page.title}} </title>
        <link rel="shortcut icon" type="image/x-icon" href="{{site.favicon}}?v=2" />
    </head >
    <body>
        <div class="imagecontainer">
            <img id="solidbackgroundimage" src="{{site.background-solid}}"/>
            <img id="backgroundimage" src="{{site.background}}"/>

        </div>

        <div class="container">
            <div class="ddm hidden-sm hidden-md hidden-lg hidden-xl">
                {% include hamburgerddm.html %}
            </div>
            <div class="grid">
                <div class="row">
                    <a target="_self" href="{{site.baseurl}}/">
                        <div class="col-lg-6 col-md-6 col-sm-7 col-xs-6 col-lg-offset-3 col-md-offset-4 col-sm-offset-3 col-xs-offset-5">
                            <div class="jumbotron headertitle" style="background:transparent !important" >
                                    <h1 id="title" class="display-3">Frankies Paws And Play</h1>
                                    <div class="hidden-xs">
                                        <div id="subtitle"> Professional Pet Sitter </div>
                                    </div>
                            </div>
                        </div>
                    </a>
                </div> <!-- row 1 -->
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-0">
                        <div class="hidden-xs">
                            <ul id="navigation">
                                {% include links.html %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12"> 
                        {% if page.body %}
                            {% include {{page.body}} %}
                        {% endif %}
                    </div>
                </div> <!-- row 2 -->
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <div class="hidden-xs">
                            <div id="navigation"> 
                                <h3 class="header-center"> Rates </h3>
                                <p> Daily Walks Starting From $12.00-$22.00 Per Visit. Contact us with your needs and we'll Taylor a schedule that works for your specific needs.. 
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                        {% if page.sub_body %}
                            {% include {{page.sub_body}} %}
                        {% endif %}
                    </div>
                </div> <!-- row 3 -->
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <div class="hidden-lg hidden-md hidden-sm">
                          <div id="navigation"> 
                                <h3 class="header-center"> Rates </h3>
                                <p> Daily Walks Starting From $12.00-$22.00 Per Visit. Contact us with your needs and we'll Taylor a schedule that works for your specific needs.. 
                            </div>
                        </div>
                    </div>
                </div> <!-- row 4 -->
                <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-xs footer">    
                </div> <!-- row 5 -->
            </div><!-- grid -->
            {%  include foot.html %}
        </div>
    </body>
</html>